{{ define "main" }}
<main class="grid">
  <div class="center-block">
    <h2>About me</h2>

    {{ .Content }}
  </div>

  <div class="center-block">
    <h2>Skills</h2>

    {{ range first 1 (where .Pages "Type" "eq" "skills") }}
    {{ .Content }}
    {{ end }}
  </div>

  <div class="center-block">
    <h2>Employment History</h2>
    {{ range first 1 (where .Pages "Type" "eq" "employment-history") }}
    {{ .Content }}
    {{ end }}
  </div>

  <div class="center-block">
    <h2>Education</h2>
    {{ range first 1 (where .Pages "Type" "eq" "education") }}
    {{ .Content }}
    {{ end }}
  </div>
</main>
{{ end }}
