@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
}
