/* Tablet */
@media (min-width: 640px) {
  html {
    font-size: 21px;
  }

  header {
    .center-block {
      grid-column: col-start 3 / span 8;
    }
  }

  .center-block {
    grid-column: col-start 3 / span 8;
  }

  .left-block {
    grid-column: col-start 3 / span 8;
  }

  .right-block {
    grid-column: col-start 3 / span 8;
  }

  .projects-carousel {
    max-height: 15.5rem;

    a {
      grid-column: auto / span 4;
    }
  }

  .projects {
    .title {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      span {
        margin-bottom: unset;
        margin-right: 1rem;
      }
    }
  }
}

/* Desktop */
@media (min-width: 1280px) {
  header {
    .logo {
      grid-column: col-start 1 / span 3;
      margin: 0 auto;
    }

    .contact {
      display: flex;
    }

    .contact-mobile {
      display: none;
    }
  }

  header {
    .center-block {
      grid-column: col-start 4 / span 6;
    }
  }

  .center-block {
    grid-column: col-start 4 / span 6;
  }

  .left-block {
    grid-column: col-start 3 / span 3;

    img {
      margin-top: 7rem;
    }
  }

  .right-block {
    grid-column: col-start 7 / span 4;
  }

  .projects-carousel a {
    grid-column: auto / span 3;
  }

  .code h1 {
    margin-top: 2.75rem;
  }
}

/* Wide */
@media (min-width: 1600px) {
  header {
    .center-block {
      grid-column: col-start 5 / span 4;
    }
  }

  .center-block {
    grid-column: col-start 5 / span 4;
  }
}

/* Ultra wide */
@media (min-width: 2560px) {
  .projects-carousel {
    max-height: 0.5rem;

    a {
      height: 20rem;
    }
  }
}
